{% load static %}
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-4 wow animated fadeInLeft">
                <div class="recent-works">
                    <h3>Experiência profissional</h3>
                    <div id="works">
                        {{ about_me.professional_xp | safe }}
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-md-offset-1 wow animated fadeInRight">
                <div class="welcome-block">
                    <h3>Bem vindo</h3>
                    <div class="message-body">
                        <img 
                            src="{{ about_me.avatar.url }}" 
                            class="pull-left" 
                            alt="member"
                            style="width: 120px !important; height: 120px;"
                        >
                        <p>{{ about_me.summary | safe }}</p>
                    </div>
                    <a href="/about-me" class="btn btn-border btn-effect pull-right">Ler mais</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end about section -->
<!-- Service section -->
<section id="service">
    <div class="container">
        <div class="row">
            <div class="sec-title text-center">
                <h2 class="wow animated bounceInLeft">
                    Nossos trabalhos
                </h2>
                <p class="wow animated bounceInRight">
                    Veja os serviços que prestamos
                </p>
            </div>
            {% for service in services %}
                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="{{ service.icon }} fa-3x"></i>
                        </div>
                        <h3>
                            {{ service.title }}
                        </h3>
                        <p>
                            {{ service.description }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- end Service section -->