{% extends 'mainpage/base/base.html' %}

{% load static %}
{% block 'content' %}

{% include 'mainpage/base/header.html' %}
{% include 'mainpage/base/about-services.html' %}
{% include 'mainpage/base/featured-projects.html' %}
{% include 'mainpage/base/prices.html' %}
{% include 'mainpage/base/social.html' %}
{% include 'mainpage/base/contact.html' %}
        <!--
			<section id="google-map">
				<div id="map-canvas" class="wow animated fadeInUp"></div>
			</section>
		-->
    </main>
{% endblock %}
