{% load static %}
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-5 wow animated fadeInLeft">
                <div class="recent-works">
                    <h3>{{ about_me.xp_title }}</h3>
                    <div>
                        {{ about_me.professional_xp | safe }}
                    </div>
                </div>
            </div>
            {% comment %} <div class="col-md-3 col-md-offset-1 wow animated fadeInRight">
                <div class="welcome-block">
                    <div class="message-body">
                        <img 
                            src="{{ about_me.avatar.url }}" 
                            class="pull-left" 
                            alt="member"
                            style="max-width: 120px !important;width: 120px !important; height: 120px !important;"
                        >
                    </div>
                </div>
            </div> {% endcomment %}
            <div class="col-md-5 col-md-offset-1 wow animated fadeInRight">
                <div class="welcome-block">
                    <h3 style="margin: 0 0 15px;">{{ about_me.welcome_title }}</h3>
                    <div class="message-body">
                        {{ about_me.about_me | safe }}
                    </div>
                    <a target="_blank" rel="noopener noreferrer" href="https://whatsa.me/5542988765949/?t=Ol%C3%A1,%20vi%20seu%20portfolio%20e%20queria%20conversar" class="btn btn-border btn-effect pull-right">
                        Ir para whats
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end about section -->
<!-- Service section -->
<section id="service">
    <div class="container">
        <div class="row">
            <div class="sec-title text-center">
                <h2 class="wow animated bounceInLeft">
                    {{ texts.services_title }}
                </h2>
                <p class="wow animated bounceInRight">
                    {{ texts.services_title }}
                </p>
            </div>
            {% for service in services %}
                <div style="margin-bottom: 15px;" class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="{{ service.icon }} fa-3x"></i>
                        </div>
                        <h3>
                            {{ service.title }}
                        </h3>
                        <p>
                            {{ service.description }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- end Service section -->